@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "Jua";
    src: url("font/Jua-Regular.ttf") format("truetype");
    font-weight: normal;
}
html,
body {
    font-family: Jua;
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-meal {
    width: 100%;
    padding: 15px;
    margin: auto;
}
.card {
    width: 100%;
    margin: auto;
}
#hrefId {
    padding: 0 !important;
    margin: 0 !important;
}
.href {
    display: flex;
    align-items: flex-start !important;
    justify-content: space-between !important;
    padding: 0;
}